@import 'tailwindcss';

@font-face {
	font-display: swap;
	font-family: Inter;
	src:
		url('$lib/assets/fonts/Inter/Inter.woff2') format('woff2'),
		url('$lib/assets/fonts/Inter/Inter.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: Rajdhani;
	font-weight: 400;
	src:
		url('$lib/assets/fonts/Rajdhani/Rajdhani-Regular.woff2') format('woff2'),
		url('$lib/assets/fonts/Rajdhani/Rajdhani-Regular.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: Rajdhani;
	font-weight: 500;
	src:
		url('$lib/assets/fonts/Rajdhani/Rajdhani-Medium.woff2') format('woff2'),
		url('$lib/assets/fonts/Rajdhani/Rajdhani-Medium.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: Rajdhani;
	font-weight: 600;
	src:
		url('$lib/assets/fonts/Rajdhani/Rajdhani-SemiBold.woff2') format('woff2'),
		url('$lib/assets/fonts/Rajdhani/Rajdhani-SemiBold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: Rajdhani;
	font-weight: 700;
	src:
		url('$lib/assets/fonts/Rajdhani/Rajdhani-Bold.woff2') format('woff2'),
		url('$lib/assets/fonts/Rajdhani/Rajdhani-Bold.woff') format('woff');
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	html {
		scroll-behavior: smooth;
		background: white;
	}

	button:enabled {
		cursor: pointer;
	}

	iconify-icon {
		display: inline-block;
		width: 1em;
		height: 1em;
	}

	*:focus-visible {
		outline: 2px solid var(--color-accent-600);
		border-radius: 4px;
		outline-offset: 2px;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@layer components {
	.floating {
		z-index: 50;
		max-height: calc(var(--spacing) * 96);
		min-width: calc(var(--spacing) * 40);
		overflow-y: auto;
		border-radius: var(--radius-lg);
		border-style: var(--tw-border-style);
		border-width: 1px;
		border-color: var(--color-gray-300);
		background-color: var(--color-white);
		padding: calc(var(--spacing) * 1.5);
		--tw-shadow:
			0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
			0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
		box-shadow:
			var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow),
			var(--tw-ring-shadow), var(--tw-shadow);
	}

	.dark .floating {
		background-color: var(--color-gray-900);
		border-color: var(--color-gray-800);
	}

	.floating-item {
		display: flex;
		cursor: pointer;
		align-items: center;
		border-radius: var(--radius-md);
		padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 4);
		text-align: left;
		font-weight: 500;
		color: var(--color-gray-600);
	}

	.dark .floating-item {
		color: var(--color-gray-400);
	}

	.floating-item:hover,
	.floating-item[data-highlighted] {
		background-color: var(--color-gray-100);
		color: var(--color-gray-700);
	}

	.dark .floating-item:hover,
	.dark .floating-item[data-highlighted] {
		background-color: var(--color-gray-800);
		color: var(--color-gray-300);
	}
}

@theme {
	--default-font-family: 'Rajdhani', 'Inter', sans-serif;
	--font-display: 'Inter', 'Rajdhani', sans-serif;

	--color-*: initial;

	--default-transition-duration: 0ms;

	--color-transparent: rgba(0, 0, 0, 0);
	--color-black: rgb(0, 0, 0);
	--color-white: rgb(255, 255, 255);

	--color-accent-50: rgb(250, 245, 249);
	--color-accent-100: rgb(247, 236, 244);
	--color-accent-200: rgb(240, 218, 234);
	--color-accent-300: rgb(229, 188, 218);
	--color-accent-400: rgb(211, 147, 192);
	--color-accent-500: rgb(191, 105, 164);
	--color-accent-600: rgb(174, 84, 141);
	--color-accent-700: rgb(148, 66, 116);
	--color-accent-800: rgb(123, 57, 97);
	--color-accent-900: rgb(104, 51, 82);
	--color-accent-950: rgb(62, 25, 47);

	--color-gray-50: oklch(98.5% 0.002 247.839);
	--color-gray-100: oklch(96.7% 0.003 264.542);
	--color-gray-200: oklch(92.8% 0.006 264.531);
	--color-gray-300: oklch(87.2% 0.01 258.338);
	--color-gray-400: oklch(70.7% 0.022 261.325);
	--color-gray-500: oklch(55.1% 0.027 264.364);
	--color-gray-600: oklch(44.6% 0.03 256.802);
	--color-gray-700: oklch(37.3% 0.034 259.733);
	--color-gray-800: oklch(27.8% 0.033 256.848);
	--color-gray-900: oklch(21% 0.034 264.665);
	--color-gray-950: oklch(13% 0.028 261.692);

	--color-red-50: oklch(97.1% 0.013 17.38);
	--color-red-100: oklch(93.6% 0.032 17.717);
	--color-red-200: oklch(88.5% 0.062 18.334);
	--color-red-300: oklch(80.8% 0.114 19.571);
	--color-red-400: oklch(70.4% 0.191 22.216);
	--color-red-500: oklch(63.7% 0.237 25.331);
	--color-red-600: oklch(57.7% 0.245 27.325);
	--color-red-700: oklch(50.5% 0.213 27.518);
	--color-red-800: oklch(44.4% 0.177 26.899);
	--color-red-900: oklch(39.6% 0.141 25.723);
	--color-red-950: oklch(25.8% 0.092 26.042);

	--color-yellow-50: oklch(98.7% 0.026 102.212);
	--color-yellow-100: oklch(97.3% 0.071 103.193);
	--color-yellow-200: oklch(94.5% 0.129 101.54);
	--color-yellow-300: oklch(90.5% 0.182 98.111);
	--color-yellow-400: oklch(85.2% 0.199 91.936);
	--color-yellow-500: oklch(79.5% 0.184 86.047);
	--color-yellow-600: oklch(68.1% 0.162 75.834);
	--color-yellow-700: oklch(55.4% 0.135 66.442);
	--color-yellow-800: oklch(47.6% 0.114 61.907);
	--color-yellow-900: oklch(42.1% 0.095 57.708);
	--color-yellow-950: oklch(28.6% 0.066 53.813);

	--color-green-50: oklch(98.2% 0.018 155.826);
	--color-green-100: oklch(96.2% 0.044 156.743);
	--color-green-200: oklch(92.5% 0.084 155.995);
	--color-green-300: oklch(87.1% 0.15 154.449);
	--color-green-400: oklch(79.2% 0.209 151.711);
	--color-green-500: oklch(72.3% 0.219 149.579);
	--color-green-600: oklch(62.7% 0.194 149.214);
	--color-green-700: oklch(52.7% 0.154 150.069);
	--color-green-800: oklch(44.8% 0.119 151.328);
	--color-green-900: oklch(39.3% 0.095 152.535);
	--color-green-950: oklch(26.6% 0.065 152.934);
}
